@font-face {
    font-family: 'Unbounded Bold';
    src: local('Unbounded Bold'),
         url('/fonts/textMain.woff2') format('woff2'); 
  }

body {
    background-color: #0f1010;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

#home,
#groupStage,
#playOff,
#players {
    height: 700px;
}

#home {
    top:0;
    background-color: #000000;
    display: flexbox;
    justify-content: center;
    align-items: center;
}
#groupStage {
    background-color: #000000;
}
#playOff {
    background-color: #000000;
}
#players {
    background-color: #000000;
}
nav {
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,.8);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    top: 0;
    display: flex;
    justify-content: center;
    
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}

.mainText {
    color: #a7c958;
    font-family: 'Unbounded Bold';
    
}
.bText {
    font-size: 108pt;  
}
.mText {
    font-size: 44pt;  
}
.lText {
    font-size: 14pt;  
}

h1 {
    color: #fff;
    font-family: 'Unbounded Bold';
}

.fixed {
    position: fixed;
}