::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
  
::-webkit-scrollbar-thumb {
    background-color: #a7c958;
    border-radius: 15px;
    height: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
   background-color: #9ad907; 
}