@font-face {
    font-family: 'Unbounded Medium';
    src: local('Unbounded Medium'),
         url('/fonts/Unbounded-Medium.woff2') format('woff2');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: #0f1010;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-y: auto;
    overflow-x: hidden;
}
html {
    
    scroll-behavior: smooth;
}

#home {
    background: black;
    max-height: 100vw;
}
#groupStage {
    background: linear-gradient(#45B649, #45B649 );
}
#playOff {
    /* background: linear-gradient(#34e89e, #0f3443); */
    background: black;
    justify-content: left;
    position: sticky;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.containerT {
  position: relative;
  white-space: nowrap;
  width: 90vw;
  height: 90vh;
  margin: 50px auto;
  z-index: 2; 
  overflow: auto;
}

@media only screen and (max-width: 1870px) { 
  .scrollableContent {
    white-space: nowrap;
    width: 95%;
    height: 95%;
    padding: 10px;
    overflow: auto;
  }
  /* Стили для скроллбара */
  .containerT::-webkit-scrollbar {
    width: 15px; /* Ширина скроллбара */
  }
  
  .containerT::-webkit-scrollbar-track {
    background: #000; /* Цвет фона трека */
  }
  
  .containerT::-webkit-scrollbar-thumb {
    background-color: #a7c958; /* Цвет полосы скроллбара */
    border-radius: 15px; /* Закругление углов полосы скроллбара */
    height: 10px;
  }
  
  .containerT::-webkit-scrollbar-thumb:hover {
    background-color: #809f39; /* Цвет полосы скроллбара при наведении */
  }
}


.containerContacts {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 20vh;
  min-width: 65vw;
}
.contactsItem {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.contactsLink {
  text-decoration: none;
  color: #fff;
  font-family: 'Unbounded Medium';
  font-size: 1.5vw;
  margin-top: 15px;
  margin-left: 40%;
}

.socialLink {
  transition: all .3s;
  color: #6441a5;
  text-decoration: none;
  text-shadow: none;
  border: solid;
  border-radius: 1rem;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.socialLink:hover {
  color: #9b65ff;
  text-shadow: 0px 0px 30px #9b65ff;
}

.twLogo {
  width: 3vw;
  height: 3vw;
  top: 10px;
  margin: auto;
}

#players {
    background: linear-gradient( #45B649, #45B649);
}
#contacts {
    background: #000000;
}
.card-img-container {
  height: fit-content;
  margin-top: auto;
  display: flex;
  flex: 1;
  flex-direction: row;

}
.pic-button {
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 2px;
  border-radius: .5em;
  transition: 0.2s;
  box-shadow: inset 0 0 0 3px #ffffff;
}
.pic-button:hover {
	background: rgba(65, 149, 53, 0.2);
  transition: 0.2s;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.between-0 {
  background: linear-gradient( #000000, #45B649);
  min-height: 75vh;
}

.between-1 {
  background: linear-gradient( #45B649, #000000);
  min-height: 75vh;
}

.between-2 {
  background: linear-gradient( #000000, #45B649);
  min-height: 75vh;
}
.between-3 {
  background: linear-gradient( #45B649 5%, #75E605 60%);
  min-height: 75vh;
}
.svgparent {
  position: relative;
  z-index: -1;
}
.svgchild {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  filter: invert(0%) sepia(95%) saturate(20%) hue-rotate(39deg) brightness(93%) contrast(107%);
}

.svgchild:nth-of-type(1) {
  position: absolute;
  bottom: 9px;
  z-index: 0;
  filter: invert(66%) sepia(53%) saturate(7408%) hue-rotate(54deg) brightness(98%) contrast(99%);
}

.svgchild:nth-of-type(2) {
  position: absolute;
  bottom: 16px;
  z-index: -1;
  filter: invert(89%) sepia(31%) saturate(3214%) hue-rotate(29deg) brightness(103%) contrast(102%);
  
}


.svgchild2 {
  position: absolute;
  top: 0px;
  z-index: 1;
  transform: rotate(180deg);
  filter: invert(0%) sepia(95%) saturate(20%) hue-rotate(39deg) brightness(93%) contrast(107%);
}

.svgchild2:nth-of-type(1) {
  position: absolute;
  top: 7px;
  z-index: 0;
  transform: rotate(180deg);
  filter: invert(89%) sepia(31%) saturate(3214%) hue-rotate(29deg) brightness(103%) contrast(102%);
}

.svgchild2:nth-of-type(2) {
  position: absolute;
  top: 13px;
  z-index: -1;
  transform: rotate(180deg);
  
  filter: invert(66%) sepia(53%) saturate(7408%) hue-rotate(54deg) brightness(98%) contrast(99%);
}

.mainText {
    color: #a7c958;
    font-family: 'Unbounded Medium';
}
.menuText {
    color: #fff;
    font-family: 'Unbounded Medium';
}
.bText {
    font-size: 7vw;  
}
.mText {
    font-size: 3vw;  
}
.lText {
    font-size: 1vw;  
}

h1 {
    color: #fff;
    font-family: 'Unbounded Medium';
}

.black-text {
  color:#000000;
}
.white-text {
  color:#ffffff;
}

.text-shadow-green {
  text-shadow: 0px 0px 30px #73df06;
}

.text-shadow {
  text-shadow: 0px 0px 30px #3a3c38;
}
.fixed {
    position: fixed;
}

.full-1 {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 30px;
    width: 100%;
    background: black;
    z-index: 2;

}
.groupStage-1 {
  background-image: url('/images/adges11.jpg');
  background-position: center;
  background-size: cover;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 0px;
  border: solid;
  /* background: black; */
  border-color: #c2edf1;
  border-radius: 50px;
}
.grpBlur {
  position: relative;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 40px;
}

.contacts-div {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-contacts {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.groupStage-1:nth-of-type(1) {
  background-image: url('/images/adges1.jpg');
}
.groupStage-1:nth-of-type(2) {
  background-image: url('/images/adges2.jpg');
}
.groupStage-1:nth-of-type(3) {
  background-image: url('/images/adges3.jpg');
}

.noBgButt { 
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 1.5vw;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor:pointer;
}
.noBgButt:hover {
  color:#73df06;
}
.noBgButt:active {
  text-shadow: 1px 1px 35px rgb(194, 223, 6);
}

@media only screen and (max-width: 4096px) { 
    .sizingGroups {
        display: grid;
        grid-template-rows: 600px 600px; /* 2 rows of 50px */
        grid-auto-flow: column;  /* a column flow */
        grid-auto-columns:600px; /* each column will 100px of width */
        grid-gap: 5px;
        overflow: auto;
    }
}

@media only screen and (max-width: 1000px) { 
    .sizingGroups {
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width: 4096px) { 
    img { 
        width: 100px;
        height: 100px;  
    } 
    }

@media only screen and (max-width: 2140px) { 
    img { 
        width: 64px;
        height: 64px;  
    } 
    }
@media only screen and (max-width: 1200px) { 
    img { 
        width: 48px;
        height: 48px;  
    } 
    }
@media only screen and (max-width: 480px) { 
    img { 
    width: 24px;
    height: 24px;  
    } 
    }





/* Aurora */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --bg: #000000;
  --wbg: #ffffff;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --clr-11: #ffffff;
  --clr-12: #9af801;
  --clr-13: #5F01F8;

  --blur: 2rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

/* body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bg);
  color: #fff;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
} */

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.title {
  font-family: 'Unbounded Medium';
  font-size: 5vw;
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  background: var(--bg);
  margin: 0;
}

.subtitle {
    color: white;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

/* ================================================================ */

.aurora__item2 {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-12);
  border-radius: 37% 29% 27%  / 28% 25% 41% ;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item2:nth-of-type(1) {
  background-color: var(--clr-11);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item2:nth-of-type(2) {
  background-color: var(--clr-12);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item2:nth-of-type(3) {
  background-color: var(--clr-12);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}
/* ================================================================ */

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}
